@import "tailwindcss";

@font-face {
    font-family: Satoshi-light;
    src: url(./assets/Satoshi-Light.otf);
    font-weight: 300;

}

@font-face {
    font-family: Satoshi-regular;
    src: url(./assets/Satoshi-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Satoshi-black;
    src: url(./assets/Satoshi-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: Satoshi-bold;
    src: url(./assets/Satoshi-Bold.otf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@theme {
    --font-custom-black: Satoshi-black;
    --font-custom-light: Satoshi-light;
    --font-custom-regular: Satoshi-regular;
    --font-custom-bold: Satoshi-bold;
    --color-butprim: #003E29;
    --color-bcream: #E4BBA1;
    --color-bgrey: #D9D9D9;
    --color-bborder: #787878;
    --color-bege-color: #EDEDED;
    --color-bege-green: #023423;
}